/* Introduction to Cascading Style Sheets */

body {
  /* If the user cannot load the Arial font, the sans-serif font is used */
  font-family: Arial, sans-serif;
  background-color: #FEFFF1;
  cursor: not-allowed;
}

h1 {
  font-size: 38px;
}

h2 {
  font-size: 32px;
}

/* This selector selects ALL anchor tag children of ALL list elements that
are children of an Unordered List element */
ul li a {
  text-decoration: none;
  color: inherit;
}

/* This selector selects all image elements that are children (1 level deep)
of a header element */
header > img {
  width: 100px;
}

/* Selects all elements with the class attribute "ingredients-list" */
.ingredients-list {

  /* The list style property is shorthand for multiple list-style properties*/
  list-style: square inside;
}

ol {
  list-style: upper-roman inside;
}

ol>li:nth-child(odd) {
  background-color: #b2b2b2;
}

.user_review h4 {
  font-size: 18px;
  font-weight: bold;
}

input[type="radio"], #expertise, input[type="submit"]{
  outline: none;
  color:red;
}

input[type="radio"]{
  -webkit-appearance: none;
}

input[type="submit"]:last-child {
  background-color: gold;
}

input[type="submit"]:hover {
  background-color:#000;
  opacity:0.5;
  border-radius:30px;
}

h2 + .user_review {
  color: red;
}
.star{
  position: relative;
  clip: rect(60px, 0px, 0px, 0px);

}
